h1{
    color : blue;
}
p,h2{
    text-align: center;
}
.header{
    background-color: pink;
    display:flex;
    justify-content: space-between;
}
.grid{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.footer{
    display: flex;
    justify-content: flex-end;
}